



body{
    background-color: blue;
    background-image: url("../img/imagen\ fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: 'Alfa Slab One', cursive;
    color: white;
   text-shadow: 5px 5px 5px black;
}